<div>
    <div class="container">
            <div class="d-flex flex-wrap">
                <div style="margin:auto; margin-top:60px; border-radius:20px;">
                    <h3>Compte Client</h3>
                    <hr />
                    <p>* Voir la liste des développeurs</p>
                    <p>* Faire une recherche par compétence</p>
                    <p>* Proposer des contrats</p>
                    <a class="btn btn-outline-primary mx-1" asp-area="" asp-controller="Client" asp-action="RegisterClient">Je suis un client</a>
                </div>
                <div style="margin: auto; margin-top: 60px; border-radius: 20px; ">
                    <h3>Compte Developpeur</h3>
                    <hr />
                    <p>* Gérer les compétences</p>
                    <p>* Mettre à jours le profil</p>
                    <p>* Accepter ou refuser les offres</p>
                    <a class="btn btn-outline-primary mx-1" asp-area="" asp-controller="Developpeur" asp-action="RegisterDev">Je suis un développeur</a>
                </div>
            </div>
    </div>
</div>


