@{
    ViewData["Title"] = "Home-Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Application : Adopte un Dev/a>.</p>
    @if (SessionManager.CurrentUser is not null)
    {
        <p>@SessionManager.CurrentUser.Email</p>
    }
</div>
